[Unit]
Description=Quickwit Search Engine
After=network.target

[Container]
Image={{ quickwit_image }}
Pull=always
Volume={{ quickwit_config_dir }}/config.yaml:/quickwit/config/config.yaml:Z

PublishPort={{ private_ip }}:8080:8080
PublishPort={{ private_ip }}:7280:7280

Environment=FRAPPE_HOST={{ frappe_host }}
Environment=GRAFANA_HOST={{ grafana_host }}
Environment=QUICKWIT_HOST={{ private_ip }}

[Service]
Restart=always
TimeoutStopSec=70

[Install]
WantedBy=multi-user.target
