[Unit]
Description=Grafana Monitoring Dashboard
After=network.target

[Container]
Image={{ grafana_image }}
ContainerName=grafana

Volume={{ grafana_data_dir }}:/var/lib/grafana:Z
Volume={{ grafana_config_dir }}/grafana.ini:/etc/grafana/grafana.ini:Z
Volume={{ grafana_config_dir }}/provisioning:/etc/grafana/provisioning:Z

PublishPort={{ grafana_port }}:3000

Environment=GF_INSTALL_PLUGINS="quickwit-quickwit-datasource"

[Service]
Restart=always
TimeoutStopSec=70

[Install]
WantedBy=multi-user.target
